

.botones{
  padding: 20px;
  margin: 10px;
  background-color:rgb(22, 21, 24);
  width: 255px;
}

.botones a {
  text-decoration: none;
  color:black;
}

.botonCount{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin:20px;
  padding:10px;
  background-color: rgba(168, 168, 168, 0.555);
  border:1px solid rgba(72, 72, 109, 0.664);
  border-radius:5px

}

.botonCount a {
  font-size:25px;
}

.carrito{
  margin-left: 25px;
  padding: 7px;
  background-color: rgba(168, 168, 168, 0.555);
  border:1px solid rgba(72, 72, 109, 0.664);
  border-radius:5px
}